In [1]:
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir)
import pandas as pd
from preprocess.discretization import get_nodes_type, code_categories
from bayesian.mi_entropy_gauss import mi_gauss, entropy_all

In [2]:
data = pd.read_csv('../datasets/hackathon_processed.csv')
data.dropna(inplace=True)
data.reset_index(inplace=True, drop=True)
#columns = ['Period', 'Tectonic regime', 'Hydrocarbon type']
#columns = ['Gross', 'Netpay','Porosity']
columns = ['Gross', 'Netpay', 'Period']
data_test = data[columns]

node_type = get_nodes_type(data_test)
columns_for_discrete = []
for param in columns:
    if node_type[param] == 'cont':
        columns_for_discrete.append(param)
columns_for_code = []
for param in columns:
    if node_type[param] == 'disc':
        columns_for_code.append(param)

In [3]:
data_coded, code_dict = code_categories(data_test, "label", columns_for_code)
data_coded

     Gross  Netpay  Period
0     75.0    55.2      12
1    223.5    43.2       7
2     34.5    19.8      15
3    152.7   123.0      15
4     75.0    30.0       7
..     ...     ...     ...
437   69.0    20.7      17
438   49.2    18.6      17
439  147.6    58.2      14
440   78.6     9.9       4
441   38.4    13.2       4

[442 rows x 3 columns]

In [4]:
print(mi_gauss(data_coded))
print(mi_gauss(data_coded.values))

1.586924531001543
1.586924531001543

In [5]:
print(entropy_all(data_coded))
print(entropy_all(data_coded.values))

11.611394603028026
11.611394603028026